.search-panel{
    width:420px;
    height:35px;
    border:1px solid #b4b3b3;
    box-shadow:2px 2px 2px #dbdbdb;
    background-color:white;
    padding-left:3px;
}

.search-input{
    width:120px;
    height:22px;
    margin-left:5px;
    margin-right:3px;
    margin-top:7px;
}

.search-submit{
    width:60px;
    height:22px;
    margin-left:10px;
    margin-top:7px;
}