<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="User ID=lt_dcms;Data Source=117.36.75.134:1521/mhdb;Password=geodept3;"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>